html,
body {  
  font-size: 100%;
}
@font-face {
  font-family: Avenir-bold;
  src: url(.././src/font/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: Avenir-medium;
  src: url(.././src/font/AvenirNextLTPro-Medium.otf);
}
@font-face {
  font-family: Avenir-regular;
  src: url(.././src/font/AvenirNextLTPro-Regular.otf);
}
:root {
  --darkOrange: #ffa43e;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffa43e;
  border-radius: 10px;
}
::placeholder {
  font-family: "Roboto Condensed", sans-serif;
}
li {
  list-style: none;
  margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: Avenir-bold;
}
.font-bold {
  margin: 0;
  font-family: Avenir-bold;
}
.font-medium {
  margin: 0;
  font-family: Avenir-medium;
}
.font-regular {
  margin: 0;
  font-family: Avenir-regular;
}
.font-14{
  font-size: 14px;
}
.font-15{
  font-size: 15px;
}
a:hover {
  text-decoration: none !important;
}
