<div class="copyright">
    <div class="container">
        <p>© 2018 Travel Portal. All rights reserved | Made with
            <!-- <span class="glyphicon glyphicon-heart" style="color: red"></span>  -->
            💖 at
            <a href="http://www.hackncs.com/">Nibble Labs</a>
        </p>
    </div>
</div>