
			<div class="foot-nav ">
				<div class="container ">
					<ul>
						<li>
							<a href="Kashi-Vishwanath-Darshan">Kashi Darshan</a>
						</li>
						<li>
							<a href="#">Varanasi to Gaya</a>
						</li>
						<li>
							<a href="#">Varanasi to Allahabad</a>
						</li>
						<li>
							<a href="#">Airport to Varanasi</a>
						</li>
						<li>
							<a href="#">BHU </a>
						</li>
						<li>
							<a href="contact">Contacts</a>
						</li>

						<div class="clearfix "></div>
					</ul>
				</div>
			</div>