			<div class="footer ">
				<div class="container ">

					<div class="col-md-4 footer-left ">
						<h6>Har Har Mahadev!</h6>
						<p>Varanasi is great city since ages and you who come here will be equally pure as well. We just want you to know, For
							any help that you may need at any time in varanasi, You can count on us.</p>
						<p>Har Har Mahader!!</p>
					</div>

					<div class="col-md-4 footer-middle ">
						<h4>We Love You</h4>
						<div class="mid-btm ">
							<p>If Travelling with 4 people then a sedan would be comfortable, for 6 an Innova is an excellent choice, and Any number
								of busses are eagerly waiting to welcome you.</p>
							<a href="https://www.TaxiInVaranasi.com/ ">https://TaxiInVaranasi.com/</a>
						</div>
					</div>

					<!-- 	<p>Consectetur adipisicing</p>
				<p>Sed do eiusmod tempor</p>
				<a href="https://Best-Things-To-Eat-In-Varanasi.com/ ">Cab rental in Varanasi</a>
		 -->

					<div class="col-md-4 footer-right ">
						<h4>Quick Links</h4>
						<li>
							<a href="# ">Varanasi Airport pickup</a>
						</li>
						<li>
							<a href="# ">Distance between Varanasi airport to city</a>
						</li>
						<li>
							<a href="# ">Cab rent from varanasi to Sangam</a>
						</li>
						<li>
							<a href="# ">hire cab in Benaras city</a>
						</li>
						<li>
							<a href="# ">Reserve taxi In varanasi</a>
						</li>
						<li>
							<a href="# ">Varanasi to Gaya cab rental</a>
						</li>
					</div>
					<div class="clearfix "></div>
				</div>
			</div>
