<!--start-main-->
<div class="header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./" style="padding-left: 70px;">
          <p class="Brand">Taxi In Varanasi</p>
        </a>
      </div>


      <ul class="nav navbar-nav navbar-right contact-header">
        <li class="hidden-sm-down">
          <!-- <a href="#">
                <span class="glyphicon glyphicon-log-in"></span>Book Now
            </a> -->
          <!-- <a href="#" onclick=' $("#myModal").modal()' style="max-height: 20px">
            <span class="glyphicon glyphicon-log-in"></span>  </a> -->
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-earphone"></span> 9935474730 || 9450301573
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<script>
  function openModal() {
    $("#myModal").modal();
    window.localStorage.setItem("SubmittedSuccessfull", Date.now());
  }


  $(window).on("load", function () {
    if (!window.localStorage.getItem("SubmittedSuccessfull") || (Date.now() - window.localStorage.getItem(
        "SubmittedSuccessfull")) > 300000) {
      console.log("schedulling modal at 12 sec successfull");
      setTimeout(openModal, 12000);
    }
  })
</script>