.navbar-fixed-top {
min-height: 63px;
}

.glyphicon-log-in {
	padding: 10px;
}
.glyphicon-user {
	padding: 10px;
}
.carousel img {
    min-width: 100%;
}

body {
  padding-top: 65px;
}

  .contact-header {
    padding: 7px;
  }

  .Read-More {
  	color: Green;
  }


.sub-paragraph {
    
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
    padding-top: 2%;
    padding-bottom: 2% 
}
.sub-heading {
font-size: 30px;
margin-left: -1.88px;
line-height: 1.15;
letter-spacing: -.015em;
--x-height-multiplier: 0.342;
--baseline-multiplier: 0.22;
/* font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif; */
}


.first-heading {
  padding-top : 1%;
}
.banner1 { 
  margin-bottom: 3%;
}
.book-now-image {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 100;
}


 @media (max-width: 979px) {
  .book-now-image {
    
    height: 80px;
    width: 80px;

  }
  
}
.Brand {
  font-size: 2em;
  /* vertical-align: middle; */
}
