.card-body {
  background: #ffecd3 !important;
}
.card {
  border: none !important;
}
.carousel-custom {
  background: #ffecd3 !important;  
}
/* .book-now-button,
.call-now-button {
  font-family: "Roboto Condensed", sans-serif !important;
} */
.book-now-button{
    background: #FFF2E0;
}
.call-now-button {
  background-image: linear-gradient(
    to right,
    #f57e08,
    #ffa43e,
    #ffa43e,
    #ffa43e,
    #f5810c
  );
}
.bg-home {
  background-image: url("../../images/homePageWallpaper.png"),
    linear-gradient(
      to bottom,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      #fff9f2,
      #fff8ef,
      #fff7ef,
      #f7e2c7,
      #f7d7ad,
      #ffd298,
      #ffcd8c
    );
  background-size: contain;
  background-position: center;
  height: 90vh;
  /* background: tomato; */
}
.table-headings {
  background: var(--darkOrange);
}
.center-aligned {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.center-aligned-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

/* Blogs */
#news{
  background: #ffecd3;
}
.card-news{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.15);
}
.mutual-heading{
    font-family: "Roboto Condensed", sans-serif !important;
    border-bottom: 3px solid var(--darkOrange);
    width: 15%;
}

@media only screen and (max-width: 768px){
    .bg-home {
        background-image: linear-gradient(
            to bottom,
            transparent,
            transparent,
            transparent,
            transparent,
            transparent,
            #fff9f2,
            #fff8ef,
            #fff7ef,
            #f7e2c7,
            #f7d7ad,
            #ffd298,
            #ffcd8c
          );        
      }
}
.blogs-heading{
  color: var(--darkOrange);  
}
.blogs-paragraph{
  font-size: 16px !important;  
}