.foot-nav {
  background: #fa4b2a;
}
.foot-nav li a {
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: 700 !important;
}
.foot-nav ul {
  padding: 0.65em 0;
  margin-bottom: 0;
}
.foot-nav li a {
  color: #fff;
  font-size: 0.95em;
  padding: 0.7em 1.5em;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  border-right: 1px solid rgba(255, 255, 255, 0.32) !important;
  font-family: "Roboto Condensed", sans-serif;
}
